<app-header></app-header>
<div class="banner">
    <img src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-2foodgroups_vegetables_detailfeature.jpg?sfvrsn=226f1bc7_6" class="bgimg">
    <div class="centered"><p>
        This website is designed in order to provide various basic food items which are required in kitchen.The basic goal is to provide the items with best quality.
        Quality is our first priority.

    </p>
    <p>It is basically an idea of providing  all basic needs in kitchen.All the basic food items in the kitchen are available so that people can get their required items easily  </p>
</div>
</div>
<app-footer></app-footer>